name: "Update packages"
on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true

      - uses: actions/checkout@v6

      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Update flake inputs
        run: nix flake update

      - name: Run package updates
        id: update
        run: |
          chmod +x ./scripts/update-packages.sh
          nix shell nixpkgs#nix-update -c ./scripts/update-packages.sh
          if git diff --quiet; then
            echo "has_changes=false" >> "$GITHUB_OUTPUT"
          else
            echo "has_changes=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Build packages and push to Cachix
        if: steps.update.outputs.has_changes == 'true'
        run: nix shell -f '<nixpkgs>' nix-build-uncached -c nix-build-uncached ci.nix -A cacheOutputs

      - name: Commit and push
        if: steps.update.outputs.has_changes == 'true'
        run: |
          git add .
          git commit -S -m "chore: automated package updates"
          git push origin HEAD
